<h1>Here are your contacts</h1>
<h3><%= @contact.first_name  %> <%= @contact.last_name %></h3>
<h4>email: <%= @contact.email %></h4>
<h4>phone number: <%= @contact.phone_number %></h4>

<h4>  <%= @all_contacts %></h4>
